.Header {
	display: flex;
	justify-content: space-between;
	max-height: 80px;
}
.Header-title {
	color: inherit;
	text-align: center;
}
.Header-title > h1,
.Header-title > h6 {
	margin: 0;
}
.Header-checkout {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	justify-items: center;
	margin: 0 0 0 0.5em;
}
.Header-alert {
	color: #33b13a;
	font-size: 14px;
	margin-left: 5px;
}
